<div class="flex justify-center pt-[100px]">
    <form class="card w-[96%] p-10 bg-base-200 shadow-xl overflow-visible">
        <div class="card-title w-full flex justify-center items-center"><span>Weekly TimeSheet - TAB</span></div>
        <div class="card-body">
            <label for="name" class="label label-text mt-5">Name (In Eksad Timesheet):</label>
            <input id="name" type="text" [(ngModel)]="username" class="input input-primary" />
            <label for="name" class="label label-text-alt">
                Will use "Assigned To" as name from Azure Timesheet if left empty
            </label>
            <!-- 
            <label for="week" class="label">Week:</label>
            <div class="container grid grid-flow-row gap-4 sm:grid-cols-12">
                <div class="col-span-6 ">
                    <label class="label-text label cursor-pointer justify-start">
                        <input type="radio" value="1" class="radio radio-primary" formControlName="week" />
                        <span class="ml-2">Week 1 - 2</span>
                    </label>
                </div>
                <div class="col-span-6 ">
                    <label class="label-text label cursor-pointer justify-start">
                        <input type="radio" value="2" class="radio radio-primary" formControlName="week" />
                        <span class="ml-2">Week 3 - 4</span>
                    </label>
                </div>
            </div> -->

            <div class="container grid grid-flow-row gap-4 sm:grid-cols-12">
                <!-- <div class="col-span-6">
                    <label for="datePicker" class="mt-5 label-text label">Month:</label>
                    <input
                        type="text"
                        name="datePicker"
                        (changeDate)="onDateChange($event)"
                        #datePicker
                        class="input w-full input-primary"
                    />
                </div> -->
                <div class="col-span-6">
                    <label class="mt-5 label-text label">Timesheet Template:</label>
                    <button type="button" class="btn btn-primary w-[200px]" (click)="openTemplateFileExplorer()">
                        Choose File
                    </button>
                    <input
                        hidden
                        (change)="onTemplateFileSelected($event.target)"
                        #uploadTemplateFile
                        type="file"
                        accept=".xlsx"
                        id="file"
                    />
                </div>
                <div class="col-span-6">
                    <label class="mt-5 label-text label">Azure Timesheet:</label>
                    <button type="button" class="btn btn-primary w-[200px]" (click)="openAzureFileExplorer()">
                        Choose File
                    </button>
                    <input
                        hidden
                        (change)="onAzureFileSelected($event.target)"
                        #uploadAzureFile
                        type="file"
                        accept=".csv"
                        id="file"
                    />
                </div>
            </div>

            <div class="card-actions mt-20">
                <button
                    type="button"
                    class="btn btn-primary w-full"
                    (click)="exportXlsx(timesheetWb)"
                    [disabled]="!timesheetWb"
                >
                    Generate Time Sheet!
                </button>
            </div>
        </div>
    </form>
</div>
